In [49]:
from keras.preprocessing.image import ImageDataGenerator
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D, BatchNormalization
from keras.layers import Activation, Dropout, Flatten, Dense
from keras import backend as K
from keras.optimizers import SGD
from keras.callbacks import EarlyStopping



# dimensions of our images.
img_width, img_height = 224, 224

batch_size = 16

if K.image_data_format() == 'channels_first':
    input_shape = (3, img_height, img_width)
else:
    input_shape = (img_height, img_width, 3)

model = Sequential()
model.add(Conv2D(32, (3, 3), input_shape=input_shape, name='conv_1'))
#model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))

model.add(Conv2D(32, (3, 3), name='conv_2'))
#model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))

model.add(Conv2D(64, (3, 3), name='conv_3'))
#model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))

model.add(Flatten())
model.add(Dense(64, name='dense_1'))
model.add(Activation('relu'))
model.add(Dropout(0.5))
model.add(Dense(1, name='dense_2'))
model.add(Activation('sigmoid'))

In [63]:
model.load_weights('first_try_adam.h5')

test_data_dir = 'data/test1'

test_datagen = ImageDataGenerator(rescale=1. / 255)
test_generator = test_datagen.flow_from_directory(
    test_data_dir,
    target_size=(img_height, img_width),
    batch_size=1,
    class_mode=None,
    shuffle = False)

preds = model.predict_generator(test_generator, 1531,verbose = 1)
preds_rounded = []

for pred in preds:
    if (pred > .5):
        preds_rounded.append("1")
    else:
        preds_rounded.append("0")
        
preds_filenames = [int(x.replace("tomz/", "").replace(".jpg", "")) for x in test_generator.filenames]   

data = (list(zip(preds_filenames, preds_rounded)))

import pandas as pd
df_result = pd.DataFrame(data, columns=["name", "invasive"])
df_result = df_result.sort_values("name")
df_result.index = df_result["name"]
df_result = df_result.drop(["name"], axis=1)

df_result.to_csv("submission_01.csv", encoding="utf8", index=True)

Found 1531 images belonging to 1 classes.
1531/1531 [==============================] - 153s

In [64]:

from keras.preprocessing.image import load_img,img_to_array
import numpy as np
img = load_img("data/data/train/0/4.jpg",False,target_size=(img_width,img_height))
x = img_to_array(img)
x = np.expand_dims(x, axis=0)
x = x/255.

model.load_weights('first_try_adam.h5')
pred = model.predict_classes(x)
prob = model.predict_proba(x)
print(pred, prob)

1/1 [==============================] - 0s
1/1 [==============================] - 0s
[[0]] [[ 0.00015697]]

In [65]:
df_result

     invasive
name
1           1
2           0
3           0
4           0
5           1
6           0
7           0
8           1
9           1
10          0
11          0
12          0
13          0
14          1
15          0
16          0
17          0
18          1
19          0
20          0
21          1
22          0
23          0
24          0
25          1
26          1
27          1
28          0
29          0
30          0
...       ...
1502        0
1503        0
1504        0
1505        1
1506        1
1507        0
1508        0
1509        1
1510        1
1511        1
1512        0
1513        0
1514        1
1515        0
1516        1
1517        1
1518        1
1519        0
1520        0
1521        0
1522        0
1523        1
1524        1
1525        1
1526        0
1527        0
1528        1
1529        0
1530        1
1531        1

[1531 rows x 1 columns]

In [5]:
train_generator

In [6]:
df_result

     invasive
name
1           1
2           1
3           1
4           1
5           1
6           0
7           1
8           1
9           1
10          1
11          1
12          1
13          1
14          1
15          1
16          1
17          1
18          1
19          1
20          1
21          1
22          1
23          1
24          1
25          1
26          1
27          1
28          1
29          1
30          1
...       ...
1502        1
1503        1
1504        1
1505        1
1506        1
1507        1
1508        1
1509        1
1510        1
1511        1
1512        1
1513        0
1514        1
1515        1
1516        1
1517        1
1518        1
1519        1
1520        1
1521        1
1522        1
1523        1
1524        1
1525        1
1526        1
1527        1
1528        1
1529        1
1530        0
1531        0

[1531 rows x 1 columns]